
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background: #f5f5f5;
}
#root{
  height: 100%;
  width: 100%;
}

input::placeholder{
  line-height: 0;
}


a {
  text-decoration: none;
  color: #555;
}

a:hover{
  text-decoration: underline;
  animation-duration: 0.3s;
  animation-name: underline;
  transition: all 0.3s ease-in-out;
  color: #333;

}



button,input,select,textarea{
  line-height: 0 !important
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0;
}

p{
  margin: 0;
}